@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
html{
    scroll-behavior: smooth;
}

*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

.header-div{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    gap:250px;
    border-bottom: 1px solid rgb(167, 167, 167);
    background-color: white;
    margin-bottom: 50px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.image-div{
    padding-left: 50px;
    padding-right: 20px;
}

.img1{
    width:150px;
    margin-bottom: 20px;
}

.img2{
    width:30px
}

.img3{
    width:30px
}

.hrefs-div{
    padding-top: 20px;
    padding-right: 300px;
}

.a1{
    text-decoration: none;
    padding-right: 20px;
    font-family: "Kanit", sans-serif;
    color:black;
}


.accepted-div{
    background-color: white;
    border:1px solid rgb(115, 115, 115);
    border-radius: 20px;
    width:400px;
    height: 700px;
}

.declined-div{
    background-color: white;
    border:1px solid rgb(115, 115, 115);
    border-radius: 20px;
    width:400px;
    height: 700px;
}

.image-div2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checked{
    width:100px;
    margin-bottom: 20px;
}

.image-div3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.declined{
    width:150px;
    margin-bottom: 20px;
}

h2{
    font-family: "Quicksand", sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
}

.paragraph1{
    font-family: "Kanit", sans-serif;
    font-size: 17px;
    font-weight: 300;
    margin-bottom:30px;
}

.status-div{
    display: flex;
    flex-direction: row;
    gap:10px;
    padding-left: 60px;
    margin-bottom: 20px;
}

.paragraph2{
    font-family: "Quicksand", sans-serif;
    color:black;
    font-weight: 600;
}

.checked2{
    width:20px
}

.declined2{
    width:20px
}

.status{
    font-family: "Quicksand", sans-serif;
    color:rgb(103, 103, 103);
    font-weight: 600;
    padding-left: 60px;
    margin-bottom: 10px;
}

.date{
    padding-left: 50px;
    font-family: "Quicksand", sans-serif;
    color:black;
    font-weight: 600;
    padding-left: 60px;
    margin-bottom: 20px;
}

.date span{
    font-family: "Quicksand", sans-serif;
    color:rgb(103, 103, 103);
    font-weight: 600;
}

.carddetails{
    display: flex;
    flex-direction: column;
}

.position{
    padding-left: 60px;
}

.cardinfo{
    display: flex;
    flex-direction: row;
    background-color: #DCDFFF;
    width:300px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.mastercardparagraph{
    padding-top: 20px;
    font-family: "Quicksand", sans-serif;
    color:black;
    font-weight: 600;
}

.payment{
    padding-left: 60px;
    font-family: "Quicksand", sans-serif;
    color:rgb(103, 103, 103);
    font-weight: 600;
    margin-bottom: 20px;
}

.mastercard{
    width:100px;
}

.download-div{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:150px;
    width:300px;
    height:50px;
    border-radius: 10px;
}

.downloadparagraph{
    color:white;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
}

.downloadimage{
    width:20px;
    height:20px;
}


.back-on-the-main-page{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.home{
    text-decoration: none;
    padding-right: 20px;
    font-family: "Kanit", sans-serif;
    color:black;
}

@media screen and (max-width:1300px){
    .header-div{
        display: flex;
        flex-direction: row;
        gap:100px;
        align-items: center;
    }

    .hrefs-div{
        padding-right: 0px;
        align-items: center;
        margin-bottom: 30px;
        display: inline;
    }
}


@media screen and (max-width:1000px){
    .header-div{
        display: flex;
        flex-direction: column;
        gap:0px;
        align-items: center;
        position: relative;
    }

    .hrefs-div{
        padding-right: 0px;
        align-items: center;
        margin-bottom: 30px;
        display: inline;
    }
    
    .icon-div{
        position: absolute;
        left:750px;
        top:100px
    }

    .techno-info{
        background-color: rgb(11, 12, 43);
        max-width: 100%;
        height:800px;
    }
    
    
    .h2-4{
        font-family: "Orbitron", sans-serif;
        color:white;
        margin-bottom: 10px;
        padding-left: 30px;
    }
    
    .info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        padding-top: 20px;
    }
    
    .main-techno-info{
        display: flex;
        flex-direction: column;
        gap:50px;
    }
    
    .href1,.href2,.href3,.contact-us{
        padding-left: 30px;
    }

    .logos{
        padding-left: 30px;
        padding-top: 0px;
    }
}

@media screen and (max-width:880px){
    .header-div{
        display: flex;
        flex-direction: column;
        gap:0px;
        align-items: center;
        position: relative;
    }

    .hrefs-div{
        padding-right: 0px;
        align-items: center;
        margin-bottom: 30px;
        display: inline;
    }
    
    .icon-div{
        position: absolute;
        left:670px;
        top:100px
    }

    
    .techno-info{
        background-color: rgb(11, 12, 43);
        max-width: 100%;
        height:800px;
    }
    
    
    .h2-4{
        font-family: "Orbitron", sans-serif;
        color:white;
        margin-bottom: 10px;
        padding-left: 150px;
    }
    
    .info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        padding-top: 20px;
    }

    .main-techno-info{
        display: flex;
        flex-direction: column;
        gap:50px;
    }
    
    .href1,.href2,.href3,.contact-us{
        padding-left: 150px;
    }

    .logos{
        padding-left: 150px;
        padding-top: 0px;
    }
}


@media screen and (max-width:725px){
    .icon-div{
        position: absolute;
        left:600px;
        top:110px
    }
}

@media screen and (max-width:670px){
    .icon-div{
        position: absolute;
        left:350px;
        top:150px
    }
}

@media screen and (max-width:668px){
    .icon-div{
        position: absolute;
        left:300px;
        top:150px
    }
}


@media screen and (max-width:499px){
    .header-div{
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .hrefs-div{
        padding-right: 0px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: row;
        margin-bottom: 60px;
    }
    
    .icon-div{
        position: absolute;
        left:190px;
        top:150px
    }

    .a1{
        font-size: 13px;
    }

    .techno-info{
        background-color: rgb(11, 12, 43);
        max-width: 100%;
        height:800px;
    }
    
    
    .h2-4{
        font-family: "Orbitron", sans-serif;
        color:white;
        margin-bottom: 10px;
        padding-left: 50px;
    }

    .paragraph2{
        font-size: 13px;
    }
    
    .info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        padding-top: 20px;
    }
    
    .main-techno-info{
        display: flex;
        flex-direction: column;
        gap:50px;
    }
    
    .href1,.href2,.href3,.contact-us{
        padding-left: 50px;
    }

    .logos{
        padding-left: 50px;
        padding-top: 0px;
    }
}

@media screen and (max-width:780px){
    .header-div{
        display: flex;
        flex-direction: column;
        gap:0px;
        align-items: center;
        position: relative;
    }

    .hrefs-div{
        padding-right: 0px;
        align-items: center;
        margin-bottom: 30px;
        display: inline;
    }
    
    .icon-div{
        position: absolute;
        left:650px;
        top:100px
    }

    
    .techno-info{
        background-color: rgb(11, 12, 43);
        max-width: 100%;
        height:800px;
    }
    
    
    .h2-4{
        font-family: "Orbitron", sans-serif;
        color:white;
        margin-bottom: 10px;
        padding-left: 150px;
    }
    
    .info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        padding-top: 20px;
    }

    .main-techno-info{
        display: flex;
        flex-direction: column;
        gap:50px;
    }
    
    .href1,.href2,.href3,.contact-us{
        padding-left: 150px;
    }

    .logos{
        padding-left: 150px;
        padding-top: 0px;
    }
}

@media screen and (max-width:725px){
    .icon-div{
        position: absolute;
        left:600px;
        top:110px
    }
}

@media screen and (max-width:690px){
    .header-div{
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .hrefs-div{
        padding-right: 0px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: row;
        margin-bottom: 60px;
    }
    
    .icon-div{
        position: absolute;
        left:320px;
        top:150px
    }

    .techno-info{
        background-color: rgb(11, 12, 43);
        max-width: 100%;
        height:800px;
    }
    
    
    .h2-4{
        font-family: "Orbitron", sans-serif;
        color:white;
        margin-bottom: 10px;
        padding-left: 100px;
    }
    
    .info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        padding-top: 20px;
    }
    
    .main-techno-info{
        display: flex;
        flex-direction: column;
        gap:50px;
    }
    
    .href1,.href2,.href3,.contact-us{
        padding-left: 100px;
    }

    .logos{
        padding-left: 100px;
        padding-top: 0px;
    }
}

@media screen and (max-width:670px){
    .icon-div{
        position: absolute;
        left:350px;
        top:150px
    }
}

@media screen and (max-width:668px){
    .icon-div{
        position: absolute;
        left:300px;
        top:150px
    }
}


@media screen and (max-width:420px){
    .header-div{
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .hrefs-div{
        padding-right: 0px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: row;
        margin-bottom: 60px;
    }
    
    .icon-div{
        position: absolute;
        left:150px;
        top:150px
    }

    .a1{
        font-size: 10px;
        padding-right: 15px;
    }

    .accepted-div{
        background-color: white;
        border:1px solid rgb(115, 115, 115);
        border-radius: 20px;
        width:300px;
        height: 700px;
    }
    
    .declined-div{
        background-color: white;
        border:1px solid rgb(115, 115, 115);
        border-radius: 20px;
        width:300px;
        height: 700px;
    }
    
    .image-div2{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
    }
    
    .info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .checked{
        width:100px;
        margin-bottom: 0px;
    }
    
    .image-div3{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
    }
    
    .declined{
        width:150px;
        margin-bottom: 0px;
    }
    
    h2{
        font-family: "Quicksand", sans-serif;
        font-size: 30px;
        margin-bottom: 20px;
    }
    
    .paragraph1{
        font-family: "Kanit", sans-serif;
        font-size: 17px;
        font-weight: 300;
        margin-bottom:0px;
    }
    
    .status-div{
        display: flex;
        flex-direction: row;
        gap:10px;
        padding-left: 30px;
        margin-bottom: 20px;
    }
    
    .paragraph2{
        font-family: "Quicksand", sans-serif;
        color:black;
        font-weight: 600;
    }
    
    .checked2{
        width:20px
    }
    
    .declined2{
        width:20px
    }
    
    .status{
        font-family: "Quicksand", sans-serif;
        color:rgb(103, 103, 103);
        font-weight: 600;
        padding-left: 30px;
        margin-bottom: 10px;
    }
    
    .date{
        padding-left: 50px;
        font-family: "Quicksand", sans-serif;
        color:black;
        font-weight: 600;
        padding-left: 30px;
        margin-bottom: 20px;
    }
    
    .date span{
        font-family: "Quicksand", sans-serif;
        color:rgb(103, 103, 103);
        font-weight: 600;
    }
    
    .carddetails{
        display: flex;
        flex-direction: column;
    }
    
    .position{
        padding-left: 30px;
    }
    
    .cardinfo{
        display: flex;
        flex-direction: row;
        background-color: #DCDFFF;
        width:250px;
        border-radius: 10px;
        margin-bottom: 30px;
    }
    
    .mastercardparagraph{
        padding-top: 20px;
        font-family: "Quicksand", sans-serif;
        color:black;
        font-weight: 600;
    }
    
    .payment{
        padding-left: 30px;
        font-family: "Quicksand", sans-serif;
        color:rgb(103, 103, 103);
        font-weight: 600;
        margin-bottom: 20px;
    }
    
    .mastercard{
        width:100px;
    }
    
    .download-div{
        background-color: black;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap:150px;
        width:250px;
        height:50px;
        border-radius: 10px;
    }
    
    .downloadparagraph{
        color:white;
        font-family: "Quicksand", sans-serif;
        font-weight: 600;
        font-size: 12px;
    }
    
    .downloadimage{
        width:20px;
        height:20px;
    }
}